* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul, ol, menu {
  list-style: none;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* DEBUG */
header {
  border-bottom: solid 1px black;
}
/******************************HEADER******************************************/

header figure {
  width: 60px;
}

.header-searchbar input {
  background-color: #E5E5E5;
  border: none;
  border-radius: 6px;
  padding-left: 6px;
} 

header ul li:not(:last-child) {
  display: none;
  color: #5B5858;
}

header ul li:last-child {
  color: #FF8F00;
}

/******************************MAIN****************************************/

/**********sidebar************/

.sidebar {
  width:70px;
  border-right: solid 1px black;
  height: 100%;
  background-image: url(./img/sidebar-bg.png);
  background-color: #051E34;
  color: white;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  gap: 6px;
}

.sidebar ul li i,
.sidebar .sidebar-settings i{
  font-size: 18px;
}

.sidebar .sidebar-text {
  display: none;
}

/************************MEDIA QUERY******************************************/

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  /* header */
  header ul li:not(:last-child) {
    display: block;
  }
  /* sidebar */
  .sidebar {
    width: 150px;
  }

  .sidebar .sidebar-text {
    display: flex;
  }

 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }