* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul, ol, menu {
  list-style: none;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: currentColor;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.wrapper {
  border-radius: 6px;
  border:solid 1px lightgray;
  padding-bottom: 20px;
  margin-top: 22px;
}

.title-component {
  border-bottom: solid 1px lightgray;
  padding-left: 10px;
  background-color: #F7F7F7;
  padding: 10px 6px;
} 

/******************************HEADER******************************************/

header {
  background-color: white;
  position: sticky;
  top:0;
  left: 0;
  right: 0;
  z-index: 999;
}

header figure {
  width: 60px;
}

.header-searchbar {
  position: relative;
}

::placeholder {
  padding-left: 22px;
}

.header-searchbar .search-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translate(0, -50%);
  font-size: 16px;
}

header .btn {
  border: none;
} 

.header-searchbar input {
  background-color: #E5E5E5;
  border: none;
  border-radius: 6px;
  padding-left: 6px;
} 

header ul li a {
  color:#5B5858;
}

header ul li button i {
  color: #FF8F00;
}


/******************************MAIN****************************************/
main {
  overflow: hidden;
}

.main-content {
  overflow-y: scroll;
}
/**********sidebar************/

.sidebar {
  width:70px;
  border-right: solid 1px black;
  height: 100%;
  background-image: url(./img/sidebar-bg.png);
  background-color: #051E34;
  color: white;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px;
}

.sidebar ul li a,
.sidebar .sidebar-settings a{
  color: currentColor;
  text-decoration: none;
}



.sidebar ul li i,
.sidebar .sidebar-settings i{
  font-size: 18px;
}

.sidebar .sidebar-text {
  display: none;
}

/* parte top contenuto principale */

.main-top {
  background-color:#1B72E8;
  color: white;
}

.main-top .new-student i {
  border: solid 1px currentColor;
  border-radius: 4px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 14px;
}
/* offcanvas */
.main-top .new-student .offcanvas {
  width: 100%;
}

.new-student-form .input-group.email {
  flex-basis: 50%;
}

/* badge */
.main-top .badge {
  background-color: #165BBA;
  font-weight: 500;
}

.main-top .boolean-badges i {
  font-size: 12px;
}

/* contenuto principale */

/* table */
.table {
  white-space: nowrap;
}

.table th:first-child {
  width: 70%;
}

.table .class-img {
 display: flex;
 align-items: center;
 gap: 8px;
 font-weight: 500;
}

.table th > .class-img figure {
  width: 26px;
  margin-bottom: 0;
  display: flex;
}

.table td i {
  color: #6C757D;
  cursor: pointer;
}
/* fine table */

/****************************HOVER********************************************/
.sidebar ul li:hover {
  background-color: rgba(211, 211, 211, 0.664);
}

.sidebar .sidebar-settings:hover {
  background-color: rgba(211, 211, 211, 0.664);
}

.accordion-item .accordion-header:hover{
  color: #165BBA;
}

.main-top .new-student .btn:hover {
  background-color: white;
  color: black;
  border-color: #1B72E8;
}
/************************MEDIA QUERY******************************************/
/* xs devices */
@media (min-width:0px) {
  /* table */
  tbody tr td:nth-of-type(1) {
    display: none;
  }

  tbody tr td:nth-of-type(2) {
    display: none;
  }
  /* fine table */
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* table */
  tbody tr td:nth-of-type(1) {
    display: table-cell;
  }

  tbody tr td:nth-of-type(2) {
    display: table-cell;
  }
  /* fine table */
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  /* header */


  header figure {
    width: 150px;
  }

  /* sidebar */
  .sidebar {
    width: 150px;
  }

  .sidebar .sidebar-text {
    display: flex;
  }

  /* offcanvas */

  .main-top .new-student .offcanvas {
    width: 50%;
  }
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }